<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Main_Servlet</servlet-name>
        <servlet-class>Main_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_Login</servlet-name>
        <servlet-class>Doc_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_Register</servlet-name>
        <servlet-class>Doc_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pat_Login</servlet-name>
        <servlet-class>Pat_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pat_Register</servlet-name>
        <servlet-class>Pat_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPatientRequest</servlet-name>
        <servlet-class>ProcessPatientRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main_Servlet</servlet-name>
        <url-pattern>/Main_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_Login</servlet-name>
        <url-pattern>/Doc_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_Register</servlet-name>
        <url-pattern>/Doc_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pat_Login</servlet-name>
        <url-pattern>/Pat_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pat_Register</servlet-name>
        <url-pattern>/Pat_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPatientRequest</servlet-name>
        <url-pattern>/ProcessPatientRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
